h1 {
  color:#000;
  font-weight: bolder;
  background-color: grey;
  text-align: center;
}
body {
  background-color: yellow;
  font-family: Helvetica;
}
.subtitle {
  font-family: fantasy;
}
#blue-subtitle {
  color: blue;
  font-size: 50px;
}
/* h4:nth-last-child(2){
  color:red;
} */
/*FOR COMMENTS*/
img {
  max-width: 100%;
  width: 251px;
  float: right;
}
.listbox {
  border-style: solid;
  border-color: red;
}
